doctype html
html
  head
    title= title

    link(href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet")
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src="https://use.fontawesome.com/675ec128d3.js")
  body
    block content
